html, body{
    height: 100%;
    overflow:hidden;
}

body{
	background:black;
}

* {
    margin: 0;
    padding: 0;
}

.outterBorder{
    stroke: rgba(255,255,0,0.5);
    stroke-width: 5px;
    stroke-dashArray: 5 5;
    fill:transparent;
}

#iscrollHolder{
	width: 100%;
	height: 100%;

}
svg {
    background:black;
}
.ship {

}
.ship .timer{
    stroke-width: 0;
}

.ship .clickarea{
    stroke: none !important;
    fill: transparent !important;

}
.prod {
    pointer-events:none;
    fill: transparent;
    stroke-width: 1px;
}
.hide{
    display:none;
}
.noclick {
    pointer-events:none;
}
.visualShip{
    pointer-events:none;
}

.selected .visualShip{
    fill:black;
}
.territory {
    stroke-width: 0;
    stroke-linejoin: round;
 
}
.link {
    stroke-width: 1px;

    pointer-events:none;
    stroke-dasharray:1, 10;
}
.planet {
    stroke-width: 0;
    stroke: transparent;
}